@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
:root {
    /* EJB THEME */
    --main-bg-color: #131E1F;
    --primary-color: #1E9BBD;
    --secondary-color: #77ADBA;
    --tertiary-color: #395B62;
    --text-color: #C9D7D9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background: var(--main-bg-color);
    background: url(img/2.jpg)center/cover no-repeat #000;
    /* background: linear-gradient(to right, rgb(57, 106, 252), rgb(41, 72, 255)); */
}

.body-wrapper {
    background:
    linear-gradient(to top, rgb(15, 32, 39), rgba(32, 58, 67, 0.685), rgba(44, 83, 100, 0.781)) ;
    backdrop-filter: blur(5px);
    height: 100vh;
}

nav {
    /* position: fixed;
    width: 100%; */
    z-index: 10;
    justify-content: center
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center
}

nav ul a {
    display: block;
    /* background: var(--main-bg-color); */
    color: var(--text-color);
    margin: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 13px
}

nav ul a:hover {}

nav {
    /* display: flex;
    flex: 0 0 auto; */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    height: 6rem;
}

header {
    display: flex;
    flex-direction: column;
}

.banner {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.banner-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-center h1 {
    font-size: .7rem;
    letter-spacing: .1rem;
    text-transform: capitalize
}

.nav-left {
    flex: 1;
    display: flex;
    align-items: center
}

.nav-center {
    flex: 3;
    display: flex;
    align-items: center
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    /* background: #000; */
    /* height: 2rem; */
}

.logo {
    height: 3.1rem;
    /* background: #000; */
}

.card {
    width: 15rem;
    height: 22.5rem;
    background: #000;
    margin: 1rem;
    border-radius: 5px;
}

.wrapper {
    margin-top: 3rem;
    ;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.img1 {
    background: url(img/1.jpg)center/cover no-repeat;
}
.img2 {
    background: url(img/2.jpg)center/cover no-repeat;
}
.img3 {
    background: url(img/3.jpg)center/cover no-repeat;
}
.img4{
    background: url(img/4.jpg)center/cover no-repeat;
}
.img5{
    background: url(img/5.jpg)center/cover no-repeat;
}

.img6{
    background: url(img/6.png)center/cover no-repeat;
}